.panel {
  background-image: url('@/assets/form_bg.jpg');
  width: 500px;
  left: 50%;
  top: 200px;
  position: relative;
  margin-left: -250px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #545454;
  border-radius: 3px;
}